meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

title #{title}

meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no', name='viewport')

meta(property='og:title', content='Soapbox')
meta(property='og:type', content='website')
meta(property='og:url', content='http://xyzzy.2013.nodeknockout.com/')
meta(property='og:image', content='#{cloudPath}img/og-thumbnail.jpg')
meta(property='og:site_name', content='Soapbox')
meta(property='og:description', content='Soapbox — A Revolution of Soapbox Oratory.')

meta(name='msapplication-TileColor', content='#131627')
meta(name='msapplication-TileImage', content='#{cloudPath}img/msapplication-TileImage.png')

meta(name='description', content='Soapbox — A Revolution of Soapbox Oratory.')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='keywords', content='Soapbox, sockets, Node.js, framework, realtime, single-page, application')
meta(name='distribution', content='web')
meta(itemprop='name', content='Soapbox')
meta(itemprop='description', content='Soapbox — A Revolution of Soapbox Oratory.')
meta(itemprop='image', content='#{cloudPath}img/og-thumbnail.jpg')
//- meta(http-equiv='Cache-Control', content='Cache-Control:no-transform,public,max-age=600,s-maxage=900')